[Desktop Entry]
Type=Application
Name=Cacao Accounting
Exec=cacao-accounting-desktop-snap
Icon=${SNAP}/meta/gui/cacao-accounting-desktop.png
Categories=Office;
